@import 'breakpoint.scss';
@import 'parent-responsive.scss';

//-- Colors
$parent-blue: #007FA9;

#pagecontent{
  margin: 0;
}
#colorbox{
  top: 0;
}
div #colorbox{
  top: 0px;
  width: 100%;
  height: 100%;
}
#cboxOverlay{
  opacity: 1.0;
  background: #fff;
}
#cboxContent{
  background: none;
}
#cBoxWrapper{
  height: 100%;
  width: 100%;
}
#cboxTopLeft, #cboxTopCenter, #cboxTopRight, #cboxMiddleLeft, #cboxMiddleRight{
  background: #fff;
}
button#cboxClose{
  color: #007FA9;
  position: absolute;
  top:0;
  right: 0;
  width: 100px;
  height: 100px;
  background:url(../images/close.svg) 36px 16px no-repeat;
  background-size: 30%;
  background-position: 36px 16px;
  text-indent: 0;
}

#cboxLoadedContent{
  margin-bottom: 0px;
}


@include breakpoint($bp-mobile-landscape){
    @include parent-responsive-styles();

}
