/* Custom Breakpoint Mixin */
/* Custom Breakpoint Mixin */
.menu-button, .social-elements {
  display: none; }

@media screen and (max-width: 750px) {
  body {
    margin: 0;
    padding-top: 0;
    background-color: #fff; }
  #header {
    background-color: #fff; }
    #header #parent-header-table {
      display: none; }
    #header #parent-menu .menu-icon-logo-wrapper {
      padding: 20px 20px 0; }
      #header #parent-menu .menu-icon-logo-wrapper .menu-button {
        display: inline-block;
        width: 40px;
        height: 44px;
        background: #fff url(../images/parent/menu-icon.png) no-repeat center;
        border: none; }
      #header #parent-menu .menu-icon-logo-wrapper .pacer-logo {
        display: inline-block;
        float: right;
        height: 48px;
        width: 200px;
        background: #fff url(../images/parent/parent-logo.png) no-repeat center; }
    #header #parent-menu #nav {
      border: none;
      min-width: 0; }
      #header #parent-menu #nav .primary-category {
        width: 100%;
        background-color: #fff; }
        #header #parent-menu #nav .primary-category button {
          display: inline-block;
          position: absolute;
          right: 0;
          height: 52px;
          width: 52px;
          padding: 0;
          margin: 0 -2px 0 0;
          outline: none; }
          #header #parent-menu #nav .primary-category button.show-more {
            border: 1px solid #007FA9;
            background-color: #fff;
            color: #007FA9;
            font-size: 22px;
            font-weight: bold; }
          #header #parent-menu #nav .primary-category button.show-less {
            border: 1px solid #fff;
            background-color: #D34040;
            color: #fff;
            font-size: 28px;
            font-weight: normal; }
        #header #parent-menu #nav .primary-category a {
          width: 100%;
          height: 50px;
          line-height: 50px;
          padding: 0;
          font-family: Helvetica;
          font-size: 10px;
          font-weight: bold;
          text-transform: uppercase; }
          #header #parent-menu #nav .primary-category a span {
            margin-left: 20px; }
        #header #parent-menu #nav .primary-category > a {
          color: #007FA9;
          border: 1px solid #007FA9;
          border-bottom: none; }
        #header #parent-menu #nav .primary-category #parent-header-donate img {
          display: none; }
        #header #parent-menu #nav .primary-category ul {
          display: none;
          width: 100%;
          position: relative;
          left: 0;
          padding-left: 0; }
          #header #parent-menu #nav .primary-category ul .secondary-category {
            width: 100%;
            background-color: #007FA9; }
            #header #parent-menu #nav .primary-category ul .secondary-category > a {
              color: #fff;
              background-color: #007FA9; }
        #header #parent-menu #nav .primary-category:last-of-type {
          border-bottom: 1px solid #007FA9; }
      #header #parent-menu #nav .social-list {
        width: 100%;
        border: 1px solid #007FA9; }
        #header #parent-menu #nav .social-list .social-elements {
          background-color: #fff;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap; }
          #header #parent-menu #nav .social-list .social-elements .socialButton {
            width: 40px;
            height: 40px;
            padding: 0;
            display: inline-block;
            background-color: #fff;
            margin: 30px auto;
            color: #007FA9;
            text-align: center;
            background-size: 40px;
            background-repeat: no-repeat; }
            #header #parent-menu #nav .social-list .social-elements .socialButton.facebook {
              background-image: url(../../assets/images/parent/facebook-icon.png); }
            #header #parent-menu #nav .social-list .social-elements .socialButton.youtube {
              background-image: url(../../assets/images/parent/youtube-icon.png); }
            #header #parent-menu #nav .social-list .social-elements .socialButton.twitter {
              background-image: url(../../assets/images/parent/twitter-icon.png); }
            #header #parent-menu #nav .social-list .social-elements .socialButton.instagram {
              background-image: url(../../assets/images/parent/instagram-icon.png); }
            #header #parent-menu #nav .social-list .social-elements .socialButton.pinterest {
              background-image: url(../../assets/images/parent/pinterest-icon.png); } }

#pagecontent {
  margin: 0; }

.cboxElement img {
  width: 100%;
  height: auto; }

div#colorbox {
  top: 0 !important;
  width: 100% !important;
  min-width: 900px !important;
  height: 100%; }

#cboxContent {
  position: fixed !important;
  overflow: visible !important;
  width: 100% !important;
  background: none;
  float: none !important;
  height: 620px !important; }

div#cBoxWrapper {
  position: fixed !important;
  height: 100% !important;
  width: 100% !important; }

#cboxTopLeft, #cboxTopCenter, #cboxTopRight {
  /*background: #fff;*/
  display: none;
  float: none; }

#cboxMiddleLeft {
  height: 0 !important;
  float: none !important;
  width: 0 !important; }

#cboxClose {
  color: #007FA9;
  top: 30px !important;
  right: 30px !important;
  width: 100px;
  height: 100px;
  background: url(../images/svg/close.svg) no-repeat;
  text-indent: 0; }
  #cboxClose:hover {
    background-position: 0 !important; }

div#cboxLoadedContent {
  width: 100% !important;
  height: auto !important;
  padding: 0 !important;
  margin: 0 !important; }

img.cboxPhoto {
  margin: none;
  width: 100% !important;
  height: 100% !important; }

div#cboxTitle {
  position: relative;
  float: none;
  color: black;
  margin-top: 20px; }

div#cboxOverlay {
  opacity: 1.0 !important;
  background: #fff; }

ol {
  padding-left: 40px; }

ol, li {
  font-size: 0.9em; }

p.ExpandHeader {
  height: 80px; }
  p.ExpandHeader strong {
    line-height: 2;
    padding-left: 60px;
    font-size: 1.75rem !important;
    font-weight: bold;
    color: #007FA9 !important; }

.ExpandHeader {
  min-height: 40px; }

.ExpandItem {
  color: #000 !important; }

#pagecontent p.ExpandHeader {
  font-family: Helvetica;
  border: 2px solid #007FA9;
  text-indent: 0 !important;
  padding: 10px 10px 0 0;
  text-transform: uppercase;
  margin: 20px 20px 0 20px !important; }

.ExpandHeader span.fa {
  display: none; }

.ExpandItem .ItemOpen {
  padding: none !important; }

#pagecontentright li, #pagecontent li {
  margin-bottom: 0 !important; }

p.question.ExpandHeader.ItemOpen {
  font-family: Helvetica;
  border: 1px solid #007FA9;
  padding: 10px;
  font-size: 10px; }

div.ExpandItem .ItemOpen p {
  margin-left: 20px; }

.question.ExpandHeader {
  border: 1px solid #007FA9;
  color: #007FA9; }

#pagecontent {
  margin: .5em 0 0 0; }

iframe {
  min-height: 500px;
  min-width: 920px; }

.ui-widget {
  font-family: Helvetica !important; }

.ui-widget-header {
  background: none !important;
  border: none !important; }

.ui-widget-content {
  border: none !important; }

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-radius: 0 !important; }

.ui-tabs .ui-tabs-nav li {
  float: none !important;
  display: block !important;
  height: 6% !important; }
  .ui-tabs .ui-tabs-nav li:after {
    content: "SHOW MORE " url(../images/svg/accordion-closed.svg);
    position: absolute;
    background-color: white;
    color: #666;
    right: 40px;
    height: 100%;
    width: 15%;
    bottom: 0;
    text-align: center;
    font-size: 1em !important; }
  .ui-tabs .ui-tabs-nav li a {
    color: white !important;
    text-decoration: none !important;
    font-size: 1rem !important; }

.ui-tabs .ui-widget .ui-widget-content .ui-corner-all {
  position: relative !important; }

.ui-tabs .ui-tabs-nav {
  padding: 0 !important; }
  .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    display: inline-block !important;
    margin-left: 40px !important;
    float: none !important; }

.ui-widget-content .ui-widget-header .ui-state-active {
  background: grey !important; }

@media screen and (max-width: 750px) {
  body {
    margin: 0;
    padding-top: 0;
    background-color: #fff; }
  #header {
    background-color: #fff; }
    #header #parent-header-table {
      display: none; }
    #header #parent-menu .menu-icon-logo-wrapper {
      padding: 20px 20px 0; }
      #header #parent-menu .menu-icon-logo-wrapper .menu-button {
        display: inline-block;
        width: 40px;
        height: 44px;
        background: #fff url(../images/parent/menu-icon.png) no-repeat center;
        border: none; }
      #header #parent-menu .menu-icon-logo-wrapper .pacer-logo {
        display: inline-block;
        float: right;
        height: 48px;
        width: 200px;
        background: #fff url(../images/parent/parent-logo.png) no-repeat center; }
    #header #parent-menu #nav {
      border: none;
      min-width: 0; }
      #header #parent-menu #nav .primary-category {
        width: 100%;
        background-color: #fff; }
        #header #parent-menu #nav .primary-category button {
          display: inline-block;
          position: absolute;
          right: 0;
          height: 52px;
          width: 52px;
          padding: 0;
          margin: 0 -2px 0 0;
          outline: none; }
          #header #parent-menu #nav .primary-category button.show-more {
            border: 1px solid #007FA9;
            background-color: #fff;
            color: #007FA9;
            font-size: 22px;
            font-weight: bold; }
          #header #parent-menu #nav .primary-category button.show-less {
            border: 1px solid #fff;
            background-color: #D34040;
            color: #fff;
            font-size: 28px;
            font-weight: normal; }
        #header #parent-menu #nav .primary-category a {
          width: 100%;
          height: 50px;
          line-height: 50px;
          padding: 0;
          font-family: Helvetica;
          font-size: 10px;
          font-weight: bold;
          text-transform: uppercase; }
          #header #parent-menu #nav .primary-category a span {
            margin-left: 20px; }
        #header #parent-menu #nav .primary-category > a {
          color: #007FA9;
          border: 1px solid #007FA9;
          border-bottom: none; }
        #header #parent-menu #nav .primary-category #parent-header-donate img {
          display: none; }
        #header #parent-menu #nav .primary-category ul {
          display: none;
          width: 100%;
          position: relative;
          left: 0;
          padding-left: 0; }
          #header #parent-menu #nav .primary-category ul .secondary-category {
            width: 100%;
            background-color: #007FA9; }
            #header #parent-menu #nav .primary-category ul .secondary-category > a {
              color: #fff;
              background-color: #007FA9; }
        #header #parent-menu #nav .primary-category:last-of-type {
          border-bottom: 1px solid #007FA9; }
      #header #parent-menu #nav .social-list {
        width: 100%;
        border: 1px solid #007FA9; }
        #header #parent-menu #nav .social-list .social-elements {
          background-color: #fff;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap; }
          #header #parent-menu #nav .social-list .social-elements .socialButton {
            width: 40px;
            height: 40px;
            padding: 0;
            display: inline-block;
            background-color: #fff;
            margin: 30px auto;
            color: #007FA9;
            text-align: center;
            background-size: 40px;
            background-repeat: no-repeat; }
            #header #parent-menu #nav .social-list .social-elements .socialButton.facebook {
              background-image: url(../../assets/images/parent/facebook-icon.png); }
            #header #parent-menu #nav .social-list .social-elements .socialButton.youtube {
              background-image: url(../../assets/images/parent/youtube-icon.png); }
            #header #parent-menu #nav .social-list .social-elements .socialButton.twitter {
              background-image: url(../../assets/images/parent/twitter-icon.png); }
            #header #parent-menu #nav .social-list .social-elements .socialButton.instagram {
              background-image: url(../../assets/images/parent/instagram-icon.png); }
            #header #parent-menu #nav .social-list .social-elements .socialButton.pinterest {
              background-image: url(../../assets/images/parent/pinterest-icon.png); } }
